---
import {Miasto, PrismaClient} from '@prisma/client';
import CityButton from '../components/CityButton.astro';
import Main from '../layouts/Main.astro';

interface Props {
	cities: Miasto[]
}

const prisma = new PrismaClient();
const cities = await prisma.miasto.findMany({});
---

<Main>
	{cities.map(c => (
		<CityButton href={`/gabinety/${c.name}`} name={c.name}/>
	))}
</Main>

