---
import Bezpestkowe from "../components/Bezpestkowe.astro";
---

<Bezpestkowe lang="pl" />
<dialog open>
  <p>Greetings, one and all!</p>
  <form method="dialog">
    <button>OK</button>
  </form>
</dialog>
