---
import {City, PrismaClient} from '@prisma/client';
import CityButton from '../components/CityButton.astro';
import Main from '../layouts/Main.astro';

const prisma = new PrismaClient();
const cities = await prisma.city.findMany({});
---

<Main>
	{cities.map(c => (
		<CityButton href={`/gabinety/${c.slug}`} name={c.name}/>
	))}
</Main>

