---
import {PrismaClient} from '@prisma/client';
export async function getStaticPaths() {

    const prisma = new PrismaClient();
    //const gabinety = await prisma.gabinet.findMany({})
    const miasta = await prisma.miasto.findMany({
        include: {
            gabinety: true
        }
    });

    return miasta.map(c => ({
        params: ({city: c.name}),
        props: {gabinety: c.gabinety}
    }));
}

const {gabinety} = Astro.props;
---

<style>
    div {background-color: red;}
</style>

<div>
    {gabinety.map(d => JSON.stringify(d))}
    <!-- {city.} -->
</div>