---
import {PrismaClient} from '@prisma/client';


export async function getStaticPaths() {

    const prisma = new PrismaClient();
    const cities = await prisma.city.findMany({})

    return cities.map(c => ({
        params: {city: c.name}
    }));
}

const {city} = Astro.params;
---

<style>
    div {background-color: red;}
</style>

<div>
    {city}
</div>