---
interface Props {
    lang: Lang
}

import Main from "../layouts/Main.astro";
import Gabinety from "./Gabinety.astro";
import type { Lang } from "../types";
import Kontakty from "./Kontakty.astro";

const {lang} = Astro.props;
---

<Main>
	{lang !== 'pl' ? null : (
		<Gabinety lang={lang} />
	)}
	<Kontakty lang={lang} />
</Main>