---
interface Props {
    name: string
    href: string
}

const {name, href} = Astro.props;
---
<style>
    button {
        border: 2px solid white;
        width: 180px;
        height: 40px;
        background: none;
    }
    button:hover {
        background: orange;
        color: var(--primary-color);
    }
    a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        font-size: 2.7rem;
        color: var(--secondary-color);
    }
</style>
<button>
    <a href={href}>
    {name}
    </a>
</button>