---
interface Props {
    name: string
    href: string
}

const {name, href} = Astro.props;
---
<style>
    button {
        border: 2px solid white;
    }
    button:hover {
        background: orange;
    }
</style>

<button>
    <a href={href}>
    {name}
    </a>
</button>