---

interface Props {
    lang: Lang
}

import { PrismaClient } from "@prisma/client";
import CityButton from './CityButton.astro';
import Page from './Page.astro';
import PageTitle from './PageTitle.astro';
import Header from '../layouts/Header.astro';
import office from '@images/office.png';
import type { Lang } from "src/types";
import {Image} from '@astrojs/image/components';

const prisma = new PrismaClient();
const cities = await prisma.city.findMany({});
---
<style>
    .gabinety {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .miasta {
        flex-basis: calc(100% - 600px);
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .office {
        width: 434px;
        height: auto;
    }
    .wrapper {
        display: flex;
        flex-basis: 600px;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }
    @media(max-width: 750px) {
        .wrapper {
            display: none;
        }
        .miasta {
            flex-basis: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

    }
</style>

<Page color="violet">
    <Header slot="header">
        <PageTitle slot="lhs" title="Lista gabinetow lekarskich" />
    </Header>
    <div class="gabinety pad-body" slot="body">
        <div class="miasta">
            {cities.map(c => (
                <CityButton href={`/gabinety/${c.slug}`} name={c.name}/>
            ))}
        </div>
        <div class="wrapper">
            <Image format='webp' width={434} height={600} class="office" src={office} alt="gabinet" />
        </div>
    </div>
</Page>