---

const {color} = Astro.props;
---

<style>
    .body {
        padding: 16px;
    }
    .violet {
        background: var(--primary-color);
        border-color: var(--secondary-color);
        color: var(--secondary-color);
    }
    .white {
        background: var(--secondary-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    .body {
        min-height: calc(100vh - var(--header-h));
        margin-right: calc(var(--header-h) - 2px);
        border-right: 2px solid;
    }
</style>

<div class:list={['page', {violet: color === 'violet'}, {white: color === 'white'}]}>
    <slot name="header"></slot>
    <div class="body">
        <slot name="body"></slot>
    </div>
</div>