---
interface Props {
    title: string
    isBigger?: boolean
}
const {title, isBigger = false} = Astro.props;

const fontSize = isBigger ? '4.8rem': '4.1rem';
---
<style define:vars={{fontSize}}>
    @media(min-width: 531px) {
        h1 {
            font-size: var(--fontSize);
        }
    }
    @media(max-width: 530px) {
        h1 {
            font-size: var(--font-massive);
        }
    }
    @media(max-width: 500px) {
        h1 {
            font-size: var(--font-big);
        }
    }
    @media(max-width: 420px) {
        h1 {
            font-size: var(--font-medium);
        }
    }
    @media(max-width: 350px) {
        h1 {
            font-size: var(--font-small);
        }
    }
</style>

<h1>{title}</h1>