---

interface Props {
    color: 'violet' | 'white'
}

const {color} = Astro.props;
---

<style>
    .body {
        padding: 16px;
    }
    .violet {
        background: var(--primary-color);
        border-color: var(--secondary-color);
        color: var(--secondary-color);
    }
    .white {
        background: var(--secondary-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    .body {
        font-size: 1.8rem;
        min-height: calc(100vh - var(--header-h));
        margin-right: calc(var(--header-h) - 2px);
        border-right: 2px solid;
    }
    @media (max-width: 1250px) {
        .body {
            margin-right: 0;
            border-right: none;
        }
    }
</style>

<div class:list={['page', {violet: color === 'violet'}, {white: color === 'white'}]}>
    <slot name="header"></slot>
    <div class="body">
        <slot name="body"></slot>
    </div>
</div>