---
interface Props {
    width: number
    alt: string
    Parent: 'div' | 'button'
    isOrange?: boolean
}
import pestka from '@images/pestka.svg';
import pestkaOrange from '@images/pestka_orange.svg';

const {width, alt, isOrange = false, Parent} = Astro.props;
---
<style>
    button {
        cursor: pointer;
        border: none;
        background: none;
    }
    .pestka {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .slot {
        z-index: 1;
        color: var(--secondary-color);
        font-size: 2rem;
    }
</style>

<Parent class="pestka" style={{width: `${width}px`, height: `${width}px`}}>
    <img width="100%" height="100%" src={isOrange ? pestkaOrange : pestka} alt={alt}>
    <span class="slot">
        <slot />
    </span>
</Parent>