<dialog>
  <h1>Dołącz do grona przyjaciół bezpestkowych</h1>
  <p>
    Swoje wsparcie mozesz wyrazic na wiele sposobow - jednym z nich bedzie
    zapisanie sie do naszego newslettera, w ktorym bedziemy na biezaco
    informowac Cie o dzialaniach naszej fundacji!
  </p>
  <a
    href="https://actionnetwork.org/forms/chce-dolaczyc-do-grona-przyjaciol-bezpestkowych/"
    >Zapisz się do naszego newslettera</a
  >
</dialog>

<style>
  h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #f6892a;
  }
  p {
    font-size: 2.5em;
    color: rgb(102, 20, 181);
  }
  a {
    font-size: 2em;
    text-align: center;
    color: #f6892a;
    background-color: rgb(102, 20, 181);
    padding: 4px 40px;
    width: fit-content;
    border-radius: 8px;
    text-decoration: none;
  }
  dialog[open] {
    display: flex;
  }
  dialog {
    font-size: 0.7rem;
    padding: 24px 48px;
    transform: translateY(100px);
    flex-direction: column;
    border-radius: 8px;
    gap: 24px;
    width: 1120px;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-top: 10px solid #f6892a;
    border-bottom: 10px solid #f6892a;
  }
  @media (min-width: 480px) {
    a {
      font-size: 2.5em;
    }
  }
  @media (min-width: 600px) {
    dialog {
      font-size: 1rem;
    }
  }
  @media (min-width: 700px) {
    dialog {
      padding: 48px 96px;
    }
  }
  dialog::backdrop {
    background: rgb(208, 166, 244);
    opacity: 0.9;
  }
</style>

<script>
  const dialog = document.querySelector("dialog");

  setTimeout(() => {
    dialog?.showModal();
  }, 3000);
</script>
