<dialog>
  <button>&#x2715;</button>
  <h1>Dołącz do grona przyjaciół bezpestkowych</h1>
  <p>
    Swoje wsparcie mozesz wyrazic na wiele sposobow - jednym z nich bedzie
    zapisanie sie do naszego newslettera, w ktorym bedziemy na biezaco
    informowac Cie o dzialaniach naszej fundacji!
  </p>
  <a
    autofocus
    href="https://actionnetwork.org/forms/chce-dolaczyc-do-grona-przyjaciol-bezpestkowych/"
    >Zapisz się do naszego newslettera</a
  >
</dialog>

<style>
  h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #f6892a;
  }
  button {
    position: absolute;
    font-size: 1.5rem;
    right: 10px;
    top: -26px;
    z-index: 2;
    background-image: url("pestka.svg");
    color: #f6892a;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 46px;
    width: 50px;
    border: none;
  }
  p {
    font-size: 2.5em;
    color: rgb(102, 20, 181);
  }
  a {
    font-size: 2em;
    text-align: center;
    color: #f6892a;
    background-color: rgb(102, 20, 181);
    padding: 4px 40px;
    width: fit-content;
    border-radius: 8px;
    text-decoration: none;
  }
  dialog[open] {
    display: flex;
  }
  dialog {
    overflow: visible;
    position: fixed;
    font-size: 0.7rem;
    padding: 24px 48px;
    transform: translateY(99px);
    flex-direction: column;
    border-radius: 8px;
    gap: 24px;
    width: 1120px;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-top: 3px solid #f6892a;
    border-bottom: 3px solid #f6892a;
  }
  @media (min-width: 480px) {
    a {
      font-size: 2.5em;
    }
  }
  @media (min-width: 600px) {
    dialog {
      font-size: 1rem;
    }
  }
  @media (min-width: 700px) {
    dialog {
      padding: 48px 96px;
    }
    button {
      scale: 1.5;
      top: -78px;
    }
  }
  dialog::backdrop {
    background: rgb(208, 166, 244);
    opacity: 0.9;
  }
</style>

<script>
  const ONE_DAY = 1000 * 60 * 60 * 24;
  const TIME_NOW = new Date().getTime();

  const dialog = document.querySelector("dialog");
  const close = document.querySelector("dialog button");
  const link = document.querySelector("dialog a");
  const POPUP_NEXT_SHOW = "popup_next_show";

  const showPopup = () => {
    setTimeout(() => dialog?.showModal(), 3000);

    link?.addEventListener("click", () =>
      localStorage.setItem(POPUP_NEXT_SHOW, Number.MAX_SAFE_INTEGER.toString())
    );

    close?.addEventListener("click", () => {
      localStorage.setItem(POPUP_NEXT_SHOW, (TIME_NOW + ONE_DAY).toString());
      dialog?.close();
    });
  };

  const popupState = localStorage.getItem(POPUP_NEXT_SHOW);

  if (!popupState || parseInt(popupState) < TIME_NOW) {
    showPopup();
  }
</script>
