---
import Pestka from "src/components/Pestka.astro";
import {Image} from '@astrojs/image/components';
import arrow from '@images/arrow.svg';


---
<style is:global>
    @font-face {
        font-family: 'Monarcha';
        src: url('/fonts/Monarcha/font.woff') format('woff');
        font-weight: normal;
    }
    @font-face {
        font-family: 'Monarcha Bold';
        src: url('/fonts/MonarchaBold/font.woff') format('woff');
        font-weight: bold;
    }
    html {
        --primary-color: rgb(102, 20, 181);
        --secondary-color: rgb(240, 231, 222);
        --orange-color: #f6892a;
        --header-h: 100px;

        font-size: 10px;

        --font-massive: 4rem;
        --font-big: 3rem;
        --font-medium: 2.5rem;
        --font-small: 2rem;
        --font-mini: 1.5rem;
    }

    * {
        font-family: 'Monarcha', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .bold {
        font-family: 'Monarcha Bold';
        font-weight: bolder;
    }
    a.pestka {
        text-decoration: none;
        color: var(--primary-color);
    }
    body {
        overflow-x: hidden;
        position: relative;
    }
    body > div:first-child header .right{
        border-left: none;
    }
    .page:first-of-type header {
        border-top: none;
    }
    .page_violet {
        background: var(--primary-color);
    }
    .page_white {
        background: var(--secondary-color);
    }
    .pad-body {
        padding: 20px;
    }

    .img-cont {
        display: flex;
        align-items: flex-start !important;
    }

    .img-cont_text {
        flex-basis: 60%;
        flex-grow: 1;
    }
    .img-cont_img {
        width: 40%;
        height: auto;
    }
    .up {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        position: fixed;
        bottom: 22px;
        right: 22px;
        z-index: 2;
    }
    .up.visible {
        opacity: 1;
    }
    .arrow {
        width: 20px;
        height: 15px;
    }

</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/fontello.css" />
		<meta name="viewport" content="width=device-width" />
		<title>Bezpestkowe</title>
	</head>
	<body>
		<slot />
        <div data-up class="up">
            <Pestka alt="up-cont" isOrange={true} width={50} Parent="button">
                <Image class="arrow" alt="up" src={arrow} width={30} height={30} />
            </Pestka>
        </div>
	</body>
</html>

<script>

    const controlScroll = (el: Element) => {
        const TIME_VISIBLE = 1300;
        const SHOW_FROM_TOP_PX = 1000;

        let timeout: undefined | number; 

        const runTimeout = () => {
            el.classList.remove('visible');
            clearTimeout(timeout);
            timeout = undefined;
        }

        return () => {
            const currentScroll = window.scrollY;

            if (currentScroll < SHOW_FROM_TOP_PX)
                return;

            // its already visible
            if (timeout) {
                clearTimeout(timeout);
                timeout = setTimeout(runTimeout, TIME_VISIBLE)
                return;
            } 

            el.classList.add('visible');

            timeout = setTimeout(runTimeout, TIME_VISIBLE);
        }
    };

    (function dataUp() {
        const up = document.querySelector('[data-up]');

        if (!up) return;

        document.addEventListener('scroll', controlScroll(up));

        up.addEventListener('click', () => window.scrollTo({top: 0, behavior: 'smooth'}));
    })()

</script>